.signup {
  width: 100%;
  height: 100vh;
}

.column {
  height: 100vh;
}

 .input-signup{
  outline: none;
 }

.sign-up-heading {
  font-size: 100px;
  color: rgb(4, 29, 70);
  opacity: 0.8;
}


 .btn-sign-up{
    background-color: rgb(4, 29, 70) ;
    color: beige;
    outline: none;
    border: none;
 }

