.todo {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}

.todo-inputs {
  border: none;
  outline: none;
}

.todo-inputs-div {
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#textarea {
  display: none;
}

.todo-card {
  border: 1px solid black;
}

.todo-card-p {
  text-align: justify;
  text-justify: inter-word;
}

.card-icon {
  font-size: 18px;
}

.del {
  color: rgba(136, 28, 28, 0.915);
}

.card-icon-head {
  cursor: pointer;
  transition: all 0.3s;
}

.card-icon-head:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s;
}
