.user-png {
    width: 30px;
  height: 30px;
}

.navbar-brand{
  color: rgb(4, 29, 70);
  font-size: 25px;
  font-weight: bold;
}

.btn-nav{
  background-color: rgb(4, 29, 70);
  border-radius: 10px;
  color: white !important;
  font-weight: bold;
}