.home{
    width: 100%;
    height: 100vh;
}
.home h1{
    font-size: 60px
}

.home-btn{
    border: none;
    outline: none;
    background-color: rgb(4, 29, 70);
  border-radius: 10px;
  color: white !important;
  font-weight: bold;
}