.signup {
  width: 100%;
  height: 100vh;
}

.column {
  height: 100vh;
}

.sign-up-heading {
  font-size: 100px;
  color: rgb(4, 29, 70);
  opacity: 0.8;
}

.col-left {
  border-left: 1px solid black;
}

 .btn-sign-up{
    background-color: rgb(4, 29, 70) ;
    color: beige;
    outline: none;
    border: none;
 }